<p id="notice"><%= notice %></p>

<p>
  <strong>Texto:</strong>
  <%= @prueba.texto %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @prueba.fecha %>
</p>

<%= link_to 'Edit', edit_prueba_path(@prueba) %> |
<%= link_to 'Back', pruebas_path %>
